:root {
  --lora: "Montserrat", serif;
  --main-color: #030b15;
  --secondary-color: #00c4f4;
}

body {
  font-family: var(--lora);
}

.bg-main {
  background: var(--main-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.color-secondary {
  color: var(--secondary-color);
}

.color-main {
  color: var(--main-color);
}

.nav-link {
  color: #fff;
}
.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: var(--secondary-color);
}

.nav-link:hover {
  color: var(--secondary-color);
}

.gradient-text {
  background: linear-gradient(180deg, #003475, var(--secondary-color) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 46px;
}

.circle {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 4px; /* Border thickness */
  background: linear-gradient(180deg, #003475, var(--secondary-color) 70%);
  -webkit-mask: radial-gradient(
    farthest-side,
    transparent calc(100% - 4px),
    white 0
  ); /* Creates the hole for the inner content */
  mask: radial-gradient(farthest-side, transparent calc(100% - 4px), white 0);
}

.circle img {
  position: relative; /* Ensures the image stays on top of the gradient border */
  z-index: 1;
}

.to-map {
  background: var(--secondary-color);
  border-radius: 8px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  padding: 12px 24px;
}

.bitcoin img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

main {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.title {
  line-height: 55px;
  font-weight: bold;
  font-size: 42px;
  text-align: center;
}

.text-main {
  font-size: 16px;
  text-align: center;
}

.offcanvas.offcanvas-end {
  background: var(--main-color);
  width: 100dvw;
}

.navbar {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
}

.fiat {
  width: 150px;
  height: auto;
  border-radius: 16px;
  object-fit: cover;
}

.crypto {
  width: 80px;
  height: auto;
  object-fit: cover;
}

#hero .gradient-text {
  font-size: 55px;
}

.adv-card {
  border: 1px solid #353535;
  padding: 60px 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}

.adv-card img {
  width: 50px;
  height: 50px;
}

.adv-title {
  font-size: 24px;
  font-weight: medium;
  color: #fff;
}

.adv-description {
  font-size: 16px;
  color: #7d7d7d;
}
.step-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  background: var(--main-color); /* Card background remains visible */
  padding: 25px 15px; /* Adjust padding to maintain space */
  border-radius: 10px; /* Rounded corners */
}

.step-card::before {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px; /* Create a border effect by making the pseudo-element slightly larger than the card */
  z-index: -1; /* Places the pseudo-element behind the card content */
  background: linear-gradient(
    180deg,
    rgba(0, 196, 244, 1) 0%,
    rgba(53, 53, 53, 0.92) 8%,
    rgba(0, 196, 244, 1) 46%,
    rgba(53, 53, 53, 0.26) 74%,
    rgba(3, 11, 21, 1) 100%
  );
  border-radius: inherit; /* Inherit the border-radius to match the card's rounded corners */
}

.step-card img {
  width: 50px;
  height: 50px;
}

.icon-cover {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #353535;
  background: #5f5f5f2e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-card .to-map {
  max-width: 125px;
}

.contact-list img {
  width: 32px;
  height: auto;
  max-height: 50px;
}

.contact-list p {
  padding: 0;
  margin: 0;
  font-size: 24px;
}
.contact-list a {
  transition: all 0.3s ease;
}

.contact-list a:hover {
  transform: translateY(-5px);
}

.map iframe{
    width: 100%;
    max-height: 470px;
    border-radius: 24px;
}

form input,form textarea{
    max-width: 450px;
    border-radius: 10px;
    padding: 8px 12px;
}

form button{
    background-color: transparent;
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    padding: 8px 12px;
    color: var(--secondary-color);
    max-width: 350px;
    transition: all 0.3s ease;
}

form button:hover{
    color: var(--main-color);
    background-color: var(--secondary-color);
}

form button:active{
    transform: scale(0.75);
}

footer{
    margin-top: 120px;
    background-color: #00c3f440;
    padding: 40px 0px;
}

#charts{
    padding-top: 75px;
}

#charts canvas{
    width: 100%;
    height: 350px;
}

#myTabContent1 img{
    width: 32px;
    height: 32px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    font-size: 18px;
}

.navbar{
    transition: all .4s ease;
}

body{
    overflow-x: hidden;
}


@media screen and (min-width: 992px) {
  .title,
  #hero .gradient-text {
    line-height: 75px;
    font-weight: bold;
    font-size: 72px;
    text-align: left;
  }

  .text-main {
    font-size: 24px;
    text-align: left;
  }
  .navbar {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
  }
  main {
    gap: 120px;
  }

  .col-12:nth-of-type(2) .step-card::before {
    content: "";
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px; /* Create a border effect by making the pseudo-element slightly larger than the card */
    z-index: -1; /* Places the pseudo-element behind the card content */
    background: linear-gradient(
      360deg,
      rgba(0, 196, 244, 1) 0%,
      rgba(53, 53, 53, 0.92) 8%,
      rgba(0, 196, 244, 1) 46%,
      rgba(53, 53, 53, 0.26) 74%,
      rgba(3, 11, 21, 1) 100%
    );
    border-radius: inherit; /* Inherit the border-radius to match the card's rounded corners */
  }

  input[type="number"] {
    -moz-appearance: textfield;
    font-size: 32px;
}
}
